.cook-book-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.image-book {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.button-overlay {
    position: absolute;
    bottom: 20px;  
    left: 50%;      
    transform: translateX(-50%); 
    width: 90%;     
    text-align: center;
}

.button-overlay .button {
    width: 100%;    
    height: 80px;   
    border-radius: 0; 
}

.cook-book-card {
    position: relative; 
    padding-bottom: 40px; 
}

.cook-book-image img {
    width: 75%;
    height: auto;
}

.cook-book-action {
    position: absolute;
    top: 300px;       
    left: 7%;         
    right: 35%;        
    z-index: 10;       
}

.cook-book-action .button {
    height: 70px;      
    border-radius: 0;  
}