.pagination-link:hover {
    background-color: #ff0055; 
    color: white;   
}

.pagination-next:hover {
    background-color: #ff0055; 
    color: white;   
}

.pagination-link{
    border: none;
    transition: all 0.3s ease;
}

.pagination-next{
    border: none;
    transition: all 0.3s ease;
}

.featuring-text {
    text-indent: 15em;
}

.plus {
    margin-right: 25em;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.gap {
    gap: 1em;
}

.width-adj {
    width: 65%;
}

.width-adj-2 {
    width: 80%;
}

footer {
    background-color: #f2f4f6;
}

.footer-2 {
    padding: 100px 0; 
}

.image-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    line-height: 0; 
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 102, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.3s ease;
}


.plus-icon {
    color: white;
    font-size: 2.5rem;
    font-weight: 300;
}

.image-container:hover .overlay {
    opacity: 1; 
}

.image-container img {
    width: 220gitpx; /* Ou la taille que tu souhaites */
    height: auto;
    object-fit: cover;
}
